project_id             = "<gcp_project_id>"       # Google Cloud project ID
region                 = "us-central1"            # Google Cloud region
zone                   = "us-central1-a"          # Google Cloud zone
resource_prefix        = "<stack_name>"           # Resource prefix for naming
machine_type           = "custom-8-32768"         # Custom machine: 8 vCPU, 32GB RAM (use format: custom-<vCPU>-<memory_mb>)
subnet_cidr            = "10.42.0.0/24"           # Subnet CIDR
firewall_allowed_ports  = ["443", "30303", "9000"] # HTTPS, Geth P2P, Lighthouse P2P (SSH is handled separately)
firewall_source_ranges  = ["0.0.0.0/0"]            # Public access for P2P and HTTPS (SSH uses dynamic IP restriction)

boot_disk = {
  image = "projects/ubuntu-os-cloud/global/images/family/ubuntu-minimal-2404-lts-amd64" # Ubuntu image ISO name
  type  = "pd-ssd"  # Standard SSD
  size  = 200       # Disk size
}

data_disk = {
  type = "pd-ssd"   # Standard SSD (May you can facing some GCP quota issues )
  size = 1000       # Disk size
}
